<h1>HelloWorld</h1>
<div>
   <label>id: {{user.id}}</label> 
</div>
<div>
    <label>name : {{user.name}}</label>
    <input [value]="user.name"/>
</div>
<div>
    <label>phone : {{user.phone}}</label>
    <input value="{{user.email}}"/>
</div>
<div>
    <label>email: {{user.email}}</label>
    <input [(ngModel)]="user.email"/>
</div>

<app-sub></app-sub>

<app-directive></app-directive>

<app-injection></app-injection>

<app-forms></app-forms>

<router-outlet></router-outlet>

<app-create></app-create>
<app-index></app-index>